// Home Content

.home {
  border: 2px solid red;

  .intro {
    border: 2px solid red;

    h2 {
      padding: 15px;
      border: 2px solid purple;

    }

    p {
      padding:0 15px;
      border: 2px solid purple;

    }
  
  }

  .space-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 2px solid red;



    img {
      width: 28%;
      margin: 20px 2.5%;
      border-radius: 20px;
      height: 100%;
      // width: 28%;
      // margin: 20px 2.5%;
      // border-radius: 20px;
      // height: 100%;
      border: 2px solid black;
    }

  }

  .visit-planets {
    padding: 15px;
    border: 2px solid red;


    h3 {
      margin-top: 11px;
      border: 2px solid red;

      
    }

    p {
      margin-top: 13px;
              border: 2px solid red;

    }
  }




  // bottom layout text & image

  .walk {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.3;

    // flex-direction: column;
    // // margin-top: 20px;
    // border-top: 1px solid @main-border-color;
    // padding: 50px 60px;
    // display: flex;
    // justify-content: center;
    border: 2px solid greenyellow;


    .walk-text {
      padding: 20px;
      // border: 1px solid black;
      width: 420px;
      margin: 20px 0;
      // width: 50%;
      border: 2px solid red;

      h3 {
        margin-bottom: 10px;
        border: 2px solid red;
      }

      p {
        margin-bottom: 26px;
        border: 2px solid red;
      }

      .walk-text2 {
        border: 2px solid green;
        width: 28%;
        margin: 20px 2.5%;
        border-radius: 20px;
        height: 100%;
        // margin-top: 60px;
        // border-top: 1px solid #dee2e6;
        // padding: 50px 60px;
        // display: flex;
        // justify-content: center;
      }
      // .btn {
      // }
    }

    

    // .walk {
    //   width: 100%;
    //   margin-left: 114%;
    //   border: 4px solid purple;
      
      // img {
      //   width: 28%;
      //   margin: 20px 2.5%;
      //   border-radius: 20px;
      //   height: 100%;
      //   // height: auto;
      //   // border-radius: 10px;
      //   border: 14px solid purple;
      // }
    // }
  }
}// home
