// Home Content

.home {
  border: 2px solid red;

  .intro {
    border: 2px solid red;

    h2 {
      padding: 15px;
      border: 2px solid purple;

    }

    p {
      padding:0 15px;
      border: 2px solid purple;

    }
  
  }

  .space-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 2px solid red;

    img {
      width: 28%;
      margin: 20px 2.5%;
      border-radius: 20px;
      height: 100%;
      border: 2px solid black;
    }
    .blast{
      @media @phone {
        width: 100%;
      }
    }
    .sky{
      @media @phone {
        display: none;
      }
    }
    .launch{
      @media @phone {
        display: none;
      }
    }

  }
 
 


  .visit-planets {
    padding: 15px;
    border: 2px solid red;


    h3 {
      margin-top: 11px;
      border: 2px solid red;

      
    }

    p {
      margin-top: 13px;
              border: 2px solid red;

    }
  }




  // bottom layout text & image

  .walk {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.3;
    padding: 20px 0;
    border: 2px solid greenyellow;


    .walk-text {
      padding: 20px;
      width: 50%;
      border: 2px solid red;
      @media @phone {
        width: 100%;
      } 

      h3 {
        margin-bottom: 10px;
        border: 2px solid red;
      }

      p {
        margin-bottom: 26px;
        border: 2px solid red;
      }
    
    }
  }
}

.walk-text2 {
  width: 50%;
  border-radius: 2px;
  overflow: hidden;
  @media @phone {
    width: 100%;
  } 
  img{
    width: 98%;
  }

}