// Navigation code here

img {
  margin-bottom: 25px;
  // border: 3px solid purple;
  max-width: 100%;
  height: auto;
  }

//   @media @phone {
//     img: 50px;
// }



header {
  width: 100%;
  // display: flex;
  justify-content: space-between;
  flex-direction: row;

  @media @phone {
    background: lightgray;
  }
  


  h1 {
      margin-top: 20px;
      font-size: 35px;
      align-content: center;
      text-align: center;

      @media @phone {
        color: orange;
      }
    

  }     
  
  nav {
    margin-top: 40px; 
    justify-content: center;
    display: flex;
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;

    a {
      text-decoration: none;
      color: #414547;
      margin-right: 50px;
      @media @phone {
        margin-right: 25px;
      }
      
    }
     
      @media @phone {
        color: red;
        width: 94%;
        margin: 30px auto;
      }    
    }
  }